<div id="test-one">
    <p>Hello world for test-one template</p>

    <table id="users" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>COMPANY</th>
        </tr>
        </thead>
        <tbody>
        <script id="usersTemplate" type="text/template">
            <tr class="users">
                <td class="id"><%= id %></td>
                <td class="name">
                    <a href="<%= '#user/' + id %>"><%= name %></a>
                </td>
                <td class="age"><%= age %></td>
                <td class="gender"><%= gender %></td>
                <td class="company"><%= company %></td>
            </tr>

        </script>
        </tbody>
    </table>
</div>