<div id="test-one">
    <p>Hello world for test-one template</p>
    <div id="users"></div>
    <ul>
        <script id="usersTemplate" type="text/template">
            <li class="users">
                <div class="info">
                    <div class="id"> id: <%= id %></div>
                    <div class="name">
                        <a href="<%= '#user/' + id %>"><%= name %></a>
                        <p> name: <%= name %></p>
                    </div>
                    <div class="age">age: <%= age %></div>
                    <div class="gender">gender: <%= gender %></div>
                    <div class="company"> company: <%= company %></div>
                </div>
            </li>
        </script>
    </ul>
</div>